

.io-slide .carousel-control-prev,.io-slide .carousel-control-next{
  width:5%;
}
.io-slide .carousel-control-prev span,.io-slide .carousel-control-next span{
  width:30px;
  height:30px;
}

.fe-orbs-container{
  position:absolute;
  width:100%;
  height:100%;
}