

.io-slide .carousel-control-prev,.io-slide .carousel-control-next{
  width:5%;
}
.io-slide .carousel-control-prev span,.io-slide .carousel-control-next span{
  width:30px;
  height:30px;
}

.fe-orbs-container{
  border:1px green solid;
  position:relative;
}
.fe-orb{
  border:1px blue solid;
  position:absolute;
}
