.container-orbes{
  position:relative;
}

.split-hover{
  background-color:rgba(0,255,0,.5);
}

.orbe{
  outline:2px #fff dashed;
  position:relative;
  width:auto;
  padding-top:25px;
  height:auto;
  overflow: auto;
  background-color:rgba(255,255,255,0);
  overflow:hidden;
}

.orbe *{
  cursor:default;
}
.orbe-content{
  padding:0 5px 5px 5px;
  margin-left:30px;
}
.orbe .apply-font{
  cursor:text;
  border:1px rgba(0,0,0,0) dashed;
}



.orbe-blur{
  background-color:rgba(255,255,255,0);
  outline:2px rgba(255,255,255,0) dashed;

}
.orbe-active:not(.animated),.orbe-hover:not(.animated){
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 35px); 
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35px);
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35px);
  background-color:rgba(255,255,255,0);
}


.font-select{
  width:100%;
}
.font-select > a{
  height: 48px;
  line-height: 48px;
  padding-top:7px;
  width:100%;
}
.font-select .fs-drop {
  width: 100%;
}
.font-select > a, .font-select > a div{
  border-radius:0;
}
.font-select > a span{
  color:#000;
  font-size:18px;
}

.minicolors-sprite {
  background-image: url('/io/images/plugins/jquery.minicolors.png');
}

#fcolor,#shadow-color{
 height:48px;
 padding-top:5px;
 padding-right:3px;
}
#shadow-color{
  border:none;
}
.minicolors-swatch{
  margin-top:13px;
}


.orb-text-edit ~ .apply-font{
  display:none;
} 

.orbe-active:not(.animated)::before, .orbe-hover:not(.animated)::before{
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  content:'';
  background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 35px); 
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35px);
  background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35px);
  background-color:rgba(255,255,255,0);
  z-index:0;
}


.orbe-action-tools,.orbe-text-tools{
  position:absolute;
  left:0;
  top:0;
}


.orbe-action-tools{
  height:25px;
  padding-left:25px;
  width:100%;
}

.orbe-text-tools{
  height:100%;
  width:25px;
}

.orbe-icon{
  visibility:hidden;
  padding:0;
  height:25px;
  width:25px;
  position:relative;
}

.orbe-icon::before{
  position:absolute;
  width:25px;
  height:25px;
  line-height:25px;
  text-align:center;
  font-family:'intranetone';
  color:#fff;
  text-shadow:1px 1px 3px rgba(150,150,150,0);
}

.orbe-icon:hover::before{
  text-shadow:1px 1px 3px rgba(150,150,150,1);
}

.orbe-handle{
  cursor:all-scroll;
}
.orbe-handle::before{
  content:'\0057';
}

.orbe.editting .orb-text-edit{
  overflow-y:hidden;
  background-color:rgba(255,255,255,0);
  resize: none;
  border:1px rgba(0,0,0,1) dashed;
  padding:0!important;
  outline:none
}

.orbe-animate{
  cursor:pointer;
}

.orbe-animate::before{
  content:'\0056';
}
.orbe-editting::before{
  cursor:pointer;
  content:'\0050';
}
.orbe-remove{
  cursor:pointer
}

.orbe-remove::before{
  content:'\004e';
}
.orbe-save{
  display:none;
  cursor:pointer;
}
.orbe-save::before{
  content:'\004b';
}


.orbe-processing::before{
  content:'\0063';
  color:yellowgreen;
  -webkit-animation: rotation 3s infinite linear;
  animation: rotation 3s infinite linear;
  cursor:default;
}
.orbe-active:not(.animated) .orbe-icon, .orbe-hover:not(.animated) .orbe-icon{
  visibility:visible;
}

.orbe-animate,.orbe-processing{
  visibility:hidden!important;
}

.orbe-active[data-animate]:not(.animated) .orbe-animate,.orbe-hover[data-animate]:not(.animated) .orbe-animate{
  visibility:visible!important;
}

.animated .orbe-processing{
  visibility:visible!important;
}

.orbe.editting .orbe-editting{
  display:none;
}
.orbe.editting .orbe-save{
  display:block;
}

.orbe-text-align::before{
  content:'\0027';
}

.orb-icon-submenu{
  display:none;
  position:absolute;
  left:23px;
  background-color:rgba(0,0,0,.6);
  top:0;
  height:100%;
}
.orbe-text-align:hover .orb-icon-submenu{
  display:block;
}
.orb-icon-submenu .orbe-icon{
  cursor:pointer!important;
}

.orb-text-middle::before{
  content:'\0028'
}

.orb-text-left::before{
  content:'\0025';
  -webkit-transform: rotateZ(90deg); /* Safari */
  transform: rotateZ(90deg);
}
.orb-text-right::before{
  content:'\0025';
  -webkit-transform: rotateZ(-90deg); /* Safari */
  transform: rotateZ(-90deg);
}

.orb-text-bottom::before{
  content:'\0025';
}
.orb-text-center::before{
  content:'\0028';
  -webkit-transform: rotateZ(-90deg); /* Safari */
  transform: rotateZ(-90deg);
}
.orb-text-top::before{
  content:'\0025';
  -webkit-transform: rotateX(180deg); /* Safari */
  transform: rotateX(180deg);
}